<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.SpuSaleAttrListCheckBySkuMapper">
    <select id="selectSpuSaleAttrListCheckBySku" resultMap="PmsProductSaleAttrMap">
        SELECT
	        sa.*, sv.*,sa.id as sa_id,sv.id sv_id,IF(saav.sku_id is not null,1,0) as isChecked
        FROM
	        pms_product_sale_attr sa
        INNER JOIN pms_product_sale_attr_value sv ON sa.sale_attr_id = sv.sale_attr_id
        AND sa.product_id = sv.product_id
        AND sv.product_id = #{spuId}
        LEFT JOIN pms_sku_sale_attr_value saav ON sv.sale_attr_id = saav.sale_attr_id
        AND sv.id = saav.sale_attr_value_id
        AND saav.sku_id = #{skuId}
    </select>
    <resultMap id="PmsProductSaleAttrMap" type="com.atguigu.gmall.bean.PmsProductSaleAttr" autoMapping="true">
        <result property="id" column="sa_id"></result>

        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsProductSaleAttrValue" autoMapping="true">
            <result property="id" column="sv_id"></result>
        </collection>
    </resultMap>

</mapper>