<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsBaseAttrValueMapper">
<delete id="deleteByAttrId"  parameterType="java.lang.String" >
        delete from pms_base_attr_value where attr_id=#{attrId}
    </delete>


</mapper>